body {
    min-height: 100%;
    background-image: linear-gradient(to bottom right, #c6ffdd, #fbd786, #f7797d);
    color: white;
}

.headerBox {
    text-align: center;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    background-color: #1F262A;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 3px #A291FB;
}

.gameGridBox {
    align-self: left;
    padding-bottom: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;

    margin-top: 0rem;
    background-color: #1F262A;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 3px #A291FB;
}

.inner-grid-container {
    padding: 1rem!important;
}

.boggleBox {
    padding: 0!important;
    width: 25%;
    padding-bottom: 25%!important;
    position: relative;
    box-sizing: border-box;
    margin:0!important;

}

.boggleBox .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.boggleBox button {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0!important;
    min-width: 0!important;
    font-size: 200%!important;
    padding: 0!important;
    text-align: center;
}

.gifBox {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color: #1F262A;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 3px #A291FB;
    height: 100%;
}

.scoreSubBox {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
    background-color: #1F262A;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 3px #A291FB;
}

.gifCardStorageBox {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0rem;
    background-image: linear-gradient(to bottom, #A291FB, violet);
    border-radius: 7px;
    box-shadow: 0px 0px 8px 3px #A291FB;
    min-height: 100%;
}

.searchBar {
    font-size: 3rem;
    background: none;
    border-bottom: 2px solid #ffe21f;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 89%;
    color: #fbd786;
}

.customIcon {
    background: none;
    border: none;
    color: #ffe21f;
    font-size: 3rem;
    width: 10%;
    height: 10%;

}

.outermost {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}



.rules-container {
    background-color: #1F262A;
    margin-top: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 3px #A291FB;
}

.rules-list {
    font-size: 2rem !important;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.startBtn {
    width: 300px;
    justify-self: center;
}

.after-game {
    color: white;
}

.after-game header {
    font-size: 3rem;
}

.after-game>.content {
    background: #1F262A!important;
}

.after-game>.content>p{
    font-size: 2rem;
}

.unguessed-words {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.unguessed-words p {
    width: 33%;
    margin: 5px 0 5px, 0px;
    padding: 0;
    line-height: normal;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.play-again-btn {
    margin-top: 15px!important;
    width: 33%;
}

.hidden {
    display: none !important;
}

.button-content {
    font-size: 3rem !important;
    text-align: left !important;
}

.gifCard {
    background-color: #1F262A !important;
    box-shadow: 0px 0px 8px 3px white !important;
    border-radius: 7px 7px 26px 26px !important;
}

.gifCard .header {
    color: #54c8ff !important;
}

.spacer {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}